.NavBarLogo, .CloseFiltersBtn, .LogoutIcon{
    cursor:pointer;
}
.barsBG{
    background-color: rgb(203 213 225);
}

.filtersNavbar {
    background-color: rgb(224, 233, 245); 
}

.Departments{
    width:50%;
}